.image-detail {
  color: white;
}

path {
  fill: blue;
  cursor: pointer;
  stroke: green;
}

.plg {
  margin: 0;
}

img {
  margin: 0;
  width: 9em;
  height: 9em;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

/*
img:hover {
  width: 10em;
  height: 10em;
}

*/
