.image-list {
  margin: 2em auto;
  width: 80%;
  height: auto;
  /* background-color: black; */
}

.image-list__grid {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  overflow: visible; /* hidden */
  font-family: sans-serif;
  list-style-type: none;
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width: 1201px) {
  /* <- 5-4  hexagons per row */
  .image-list__grid {
    padding-bottom: 4.4%;
  }
}

@media (max-width: 1200px) and (min-width: 901px) {
  /* <- 4-3  hexagons per row */
  .image-list__grid {
    padding-bottom: 5.5%;
    font-size: 13px;
  }
}

@media (max-width: 900px) and (min-width: 601px) {
  /* <- 3-2  hexagons per row */
  .image-list__grid {
    padding-bottom: 7.4%;
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  /* <- 2-1  hexagons per row */
  .image-list__grid {
    padding-bottom: 11.2%;
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .image-list__grid {
    font-size: 8px;
  }
}
