.main-navigation {
  width: 100%;
  height: auto;
  background-color: transparent;
  display: flex;

  color: gray;
  justify-content: space-between;
  justify-items: center;
  align-content: center;
  align-items: center;
  /* border-bottom: 1px solid white; */
}

.logo-svg {
  margin: 1em 0;
}

.line {
  stroke: white;
  stroke-width: 2;
}

@media (max-width: 430px) {
  .main-navigation {
    justify-content: center;
  }
  hr {
    display: none;
  }
}
